<div class="wrapper">
    <div class="columns">
        <aside class="column is-2 aside">
            <nav class="menu">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a class="is-active" href="#"><span class="icon is-small"><i class="fa fa-tachometer"></i></span> Dashboard</a></li>
                    <li><a href="#"><span class="icon is-small"><i class="fa fa-bar-chart"></i></span> 詳細</a></li>
                    <li><a href="#"><span class="icon is-small"><i class="fa fa-table"></i></span> カレンダー</a></li>
                </ul>
                <p class="menu-label">
                    Administration
                </p>
                <ul class="menu-list">
                    <li>
                        <a class=""><i class="fa fa-cog"></i> Settings</a>
                        <ul>
                            <li><a>Members</a></li>
                            <li><a>Add a member</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        
        <main class="column main">

        </main>
    </div>
</div>