<footer class="footer">
        <div class="container">
            <div class="footer-container">
                <p class="content has-text-centered">&copy; 2018 PlusLab | Design: <a href="https://yoshikawataiki.net">YoshikawaTaiki</a></p>
            </div>
        </div>
</footer>