<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <span class="c">&copy; 2018 PlusLab | Design: <a href="https://yoshikawataiki.net">YoshikawaTaiki</a></span>
        </div>
    </div>
</footer>