<header class="header">
    <div class="container">
        <div class="logo-container">
            <a href="/">
                <p class="logo text-xxlarge">WebApp</p>
            </a>
        </div>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li><a href="#">ホーム</a></li>
                <li><a href="#">マップ</a></li>
                <li><a href="#">カレンダー</a></li>
                <li><a href="#">設定</a></li>
            </ul>
        </nav>
    </div>
</header>